GetDetailedGameInfoRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://GTCSoftware.com/wordGuess/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDetailedGameInfoRequest">
     <xs:complexType>
      <xs:sequence>
        <xs:element name="Game">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Id"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>